{% extends "main.html" %}
{% block content %}
    <form action="/delReq">
        <table border="1">
            <tr>
                <td></td>
                <td>ID</td>
                <td>Location</td>
                <td>Telegram ID</td>
                <td>Email</td>
                <td>Category</td>
                <td>Query</td>
                <td>Created</td>
            </tr>
        {% for request in requests %}
            <tr>
                <td>
                    <input type="checkbox" name="selector" value="{{request.id}}">
                </td>
                <td>
                    <p>{{request.id}}</p>
                </td>
                <td>
                    <p>{{request.reqLoc}}</p>
                </td>
                <td>
                    <p>{{request.telegram_id}}</p>
                </td>
                <td>
                    <p>{{request.email}}</p>
                </td>
                <td>
                    {{request.category}}
                </td>
                <td>
                    <p>{{request.query}}</p>
                </td>
                <td>
                    <p>{{request.created}}</p>
                </td>
            </tr>
        {% endfor %}
        </table>
        <input type="submit" value="Remove Selected">
    </form>
<table>
    <tr>
        <td>
            <form action="/addReq">
                <table border="1">
                    <tr>
                        <td colspan="2"><center>Add a Request</center></td>
                    </tr>
                    <tr>
                        <td>Telegram ID</td>
                        <td><input type="text" name="telegram_id"></td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td><input type="text" name="email"></td>
                    </tr>
                    <tr>
                        <td>Location</td>
                        <td>
                            <select name="reqLoc" required>
                                {% for loc in locs %}
                                <option value="{{loc.id}}">{{loc.description}}</option>
                                {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>Category</td>
                        <td>
                            <select name="cat" required>
                                {% for cat in cats %}
                                <option value="{{cat.id}}">{{cat.description}}</option>
                                {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>Query</td>
                        <td><input type="text" name="query" required></td>
                    </tr>
                    <tr>
                        <td colspan="2"><center><input type="submit" value="Submit"></center></td>
                    </tr>
                </table>
            </form>
        </td>
        <td>
            <form action="/addLoc">
                <table border="1">
                    <tr>
                            <td colspan="2"><center>Add a Location</center></td>
                    </tr>
                    <tr>
                        <td>URL</td>
                        <td><input type="text" name="locURL" placeholder="https://newyork.craigslist.org" required></td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td><input type="text" name="locDesc" placeholder="New York, NY" required></td>
                    </tr>
                    <tr>
                        <td colspan="2"><center><input type="submit" value="Submit"></center></td>
                    </tr>
                </table>
            </form>
            <form action="/delLoc">
                <table border="1">
                    <tr>
                        <td>Remove a Location</td>
                    </tr>
                    <tr>
                        <td>
                            <select name="reqLoc" required>
                                {% for loc in locs %}
                                <option value="{{loc.id}}">{{loc.description}}</option>
                                {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <center>Confirm delete:<input type="checkbox" required></center>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <center><input type="submit" value="Submit"></center>
                        </td>
                    </tr>
                </table>
            </form>
        </td>
    </tr>
</table>
{% endblock %}